@import 'tailwindcss';

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: none;
}

hr {
  border-top: none;
  border-bottom: 1px solid;
  border-color: rgb(114, 69, 163);
  margin: 2rem 0;
}
/* 整个滚动条 */
::-webkit-scrollbar {
  width: 8px; /* 垂直滚动条的宽度 */
  background-color: rgba(245, 245, 245, 0.7); /* 滚动条背景颜色，设置为70%不透明度 */
}

/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
  background-color: rgba(87, 158, 251, 0.6); /* 滚动条滑块颜色，设置为60%不透明度 */
  border-radius: 4px; /* 滚动条滑块的圆角 */
}

/* 滚动条滑块在 hover 时的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 122, 204, 1); /* 突出色，完全不透明 */
}

/* 滚动条的底部 */
::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0.7); /* 滚动条底部背景颜色，设置为70%不透明度 */
}