@media only screen and (max-width: 800px) {
  /* 当屏幕宽度小于 800px 时 */
  .runTable th:nth-child(3),
  .runTable td:nth-child(3) {
    display: none;
    /* 隐藏第3列 */
  }
}

@media only screen and (max-width: 700px) {
  /* 当屏幕宽度小于 700px 时 */
  .runTable th:nth-child(5),
  .runTable td:nth-child(5) {
    display: none;
    /* 隐藏第5列 */
  }
}

.runTable {
  width: 100%;
  font-variant: tabular-nums;
  margin: 1rem 0 5rem 0;

  :is(thead) {
    color: #ffffff; /* 设置表头字体颜色 */
    text-align: center;

    :is(th) {
      padding: 0.5rem;
      background-color: rgb(87, 158, 251); /* 设置表头背景颜色 */
    }
  }
}

.runRow {
  cursor: pointer;
  :is(td) {
    padding: 0.5rem;
    border: 0;
    text-align: center;

    &:first-child {
      font-weight: 700;
      text-align: left;
      min-width: 100px;
    }
  }

  &:hover {
    background-color: lighten(rgb(26, 26, 26), 3%);
  }
}

.runRow:nth-child(odd) {
  background-color: rgba(240, 240, 240, 0.5); /* 设置奇数行的背景颜色 */
}

.runRow:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5); /* 设置偶数行的背景颜色 */
}

.selected {
  color: rgb(27, 43, 56) !important;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
  margin-top: 1.5em;
}

/* .runDate {
  color: rgb(0, 108, 184);
} */
